<div class="container mat-app-background">
  <div class="row">
    <div class="col-sm-4 contactos">
      <mat-card>
        <mat-card-header class="header1">
            <p class="col-sm-6 div1">
              Contactos
            </p>
            <p  class="col-sm-6 div2">
              {{username}}
            </p>
        </mat-card-header>
        <mat-card-content>
            <mat-card class="contactos-card" *ngFor="let contacto of contactos" (click)="mostrarMensajesDelContacto(contacto)">
                <mat-card-header>
                  <mat-card-title>{{contacto.nombre}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest ....
                  </p>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-8 mensajes">
      <div class="row">
        <div class="col-sm-12">
            <app-mensajes [data]="data" (dataOutput)="procesaOutput($event)" *ngIf="hablando"></app-mensajes>
        </div>
      </div>
    </div>
    
    
    <!--
       <div class="col-sm-8 mensajes" *ngIf="hablando" (change)="p(matCardMensajes)">
      <div class="row">
        <div class="col-sm-12">
            <mat-card >
                <mat-card-header>
                  <mat-card-title>{{nombreContacto}}</mat-card-title>
                </mat-card-header>
                <mat-card-content #matCardMensajes [style.overflow]="'auto'" [style.height.px]="'300'" (scroll)="eventoScroll($event)">
                  <div *ngFor="let json of mensajes">
                    <div class="justify-content-start card-enviado" *ngIf="json.idEnvio==0">
                        <div class="mensajes-card" >
                            <div>
                              <p>{{json.hora}}</p>
                            </div>
                            <div>
                              <p>{{json.mensaje}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="justify-content-end card-recibido" *ngIf="json.idEnvio==1">
                        <div class="mensajes-card" >
                            <div>
                              <p>{{json.hora}}</p>
                            </div>
                            <div>
                              <p>{{json.mensaje}}</p>
                            </div>
                        </div>
                    </div>
                  </div>                  
                </mat-card-content>
            </mat-card>
        </div>
          
      </div>
        <div class="row">
          <div class="col-sm-12">
                <form class="form-inline formMensajes" name="inputForm">
                      <input type="text" class="form-control" id="inputMensaje" [(ngModel)]="mensajeEnvio" name="inputMensaje">
                      <button type="submit" class="btn btn-primary" id="botonMensaje" (click)="enviarMensaje(mensajeEnvio,matCardMensajes)">Enviar</button>
                </form>
          </div>
        </div>
        
    </div>
     -->
   
  </div>
</div>

